<article id="user">
  <header>
    <h1><%= @user.name %></h1>
    <h2><%= @user.email %></h2>
  </header>
  <% if @registrations.any? %>
    <h3>Registered For</h3>
    <ul>
    <!-- loop through all the registrations -->
      <% @registrations.each do |registration| %>
        <li>
          <%= link_to registration.event.name, registration.event %>
          (<%= time_ago_in_words(registration.created_at) %> ago)
        </li>
      <% end %>
    </ul>
  <% end %>

  <footer>
    <nav>
    <!-- if current user is the same as user that is displayed than you own the account -->
    <% if current_user?(@user) %>
      <%= link_to "Edit Account", edit_user_path(@user), class: "button" %>
      <%= link_to "Delete Account", @user,
                  # route know to destroy  
                  method: :delete, 
                  data: {conform: 'Are you sure?' },
                  class: 'button' %>
    <% end %>
    </nav>
  </footer>
</article>