<!-- helper method for object @event takes block -->
<!-- partial is reusable part of view template that can be rendered from other views -->
<%= form_for(@event) do |f| %>
  <p>
    <%= f.label :name %><br>
    <!-- @event.name its an object same as :name because |f| know we build form for the @event -->
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 40, rows: 7 %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>
  <p>
    <!-- the |f| knows about object @event figure out if it saved in database so it know to create -->
    <%= f.submit %>
    <%= link_to "Cancel", events_path %>
  </p>
<% end %>