<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Events', root_path %></h1>
    <nav>
      <p>
      <!-- returns user object link_to convention know to go to show page associated with resource -->
       <% if current_user %>
          <%= link_to current_user.name, current_user %>
          <%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %>
        <% else %>
          <%= link_to 'Sign Up', signup_path, class: 'button' %>
          <%= link_to 'Sign In', new_session_path, class: 'button' %>
          <%= link_to "/auth/facebook", class: "btn btn-social btn-lg btn-facebook", id: "sign_in" do %>
              <i class="fa fa-facebook"></i> Sign in with Facebook
          <% end %>
        <% end %>
      </p>
    </nav>
  </div>
</header>
